* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin; /* Firefox */
}
:root {
  --BG-COlOR: #161b23;
  --MAIN-FONT-COLOR: white;
}

a:any-link {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
.app {
  background-color: var(--BG-COlOR);
  color: var(--MAIN-FONT-COLOR);
  overflow: hidden;
}
.Top-Page {
  height: 100vh;
  background-image: url("/BG-IMG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem;
  /* margin-left: 3rem; */
}
.header ul {
  display: flex;
  column-gap: 1.5rem;
}

.header ul li {
  font-size: 1.5rem;
}

.header ul li a:hover {
  color: aquamarine;
}

.right-header {
  display: flex;
  column-gap: 1.5rem;
}
.right-header .drop-down {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  cursor: pointer;
}
.right-header .search-svg {
  margin-top: 5px;

  cursor: pointer;
}
.header-search {
  display: flex;
  column-gap: 10px;
}
.header-search input {
  height: 1.5rem;
  border-radius: 5px;
  padding: 1rem 0;
  margin-top: -2px;
  outline: none;
}

.add-search input {
  display: none;
  background-color: red;
}
.remove-search .search-svg {
  /* transform: translateX(150px); */
}

.dropdown-content {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.drop-down .top-auth {
  display: flex;
  column-gap: 10px;
  font-size: 14px;
  background-color: #77777a;
  border: none;
  padding: 5px 9px;
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}

.drop-down .bottom-auth {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 5px 9px;
  cursor: pointer;
}
.drop-down:hover .dropdown-content {
  opacity: 1;
}
.mid-landing {
  position: relative;
}
.mid-landing .landing-text {
  margin: -2rem 0 0 5rem;
}

.mid-landing .landing-text h2 {
  font-size: 4rem;
  margin-top: 5px;
  font-weight: 100;
  transform: translate(15px, 35px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.landing-text h1 {
  font-size: 20rem;
  letter-spacing: 5px;
  transform: translateY(-30px);
  text-wrap: nowrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.mid-landing img {
  position: absolute;
  right: 30%;
  top: 0;
}
