@import url("https://fonts.googleapis.com/css2?family=Inter&family=Permanent+Marker&family=Poppins:ital@1&display=swap");
@font-face {
  font-family: gilroy;
  src: url(assets/Gilroy-Regular.ttf);
}

:root {
  --BG-COlOR: #161b23;
  --MAIN-FONT-COLOR: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin; /* Firefox */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:any-link {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
.app {
  background-color: var(--BG-COlOR);
  color: var(--MAIN-FONT-COLOR);
  overflow: hidden;
}
.small-screen {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./BG-IMG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.small-screen h1 {
  text-transform: capitalize;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.Top-Page {
  height: 100vh;
  background-image: url("/BG-IMG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem;
  /* margin-left: 3rem; */
}
.header ul {
  display: flex;
  column-gap: 1.5rem;
}

.header ul li {
  font-size: 1.5rem;
}

.header ul li a:hover {
  color: #ffbe40;
}
.mara-logo {
  margin-top: 4px;
}

.right-header {
  display: flex;
  column-gap: 1.5rem;
}
.right-header .drop-down {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  cursor: pointer;
}
.right-header .search-svg {
  margin-top: 5px;

  cursor: pointer;
}
.header-search {
  display: flex;
  column-gap: 10px;
}
.header-search input {
  height: 1.5rem;
  border-radius: 5px;
  padding: 1rem 0;
  margin-top: -2px;
  outline: none;
  transition: width 0.5s ease-in-out;
  width: 100%;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #161b23;
}
.header-search input:focus {
  padding-left: 7px;
}
.add-search input {
  width: 0;
}

.dropdown-content {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.drop-down .top-auth {
  display: flex;
  column-gap: 10px;
  font-size: 14px;
  background-color: #77777a;
  border: none;
  padding: 5px 9px;
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffbe40;
}

.drop-down .bottom-auth {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 5px 9px;
  cursor: pointer;
}
.drop-down:hover .dropdown-content {
  opacity: 1;
}
.mid-landing {
  position: relative;
  display: flex;
  justify-content: center;
}

.mid-landing .landing-text h2 {
  font-size: 5vw;
  margin-top: 5px;
  font-weight: 100;
  transform: translate(15px, 35px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation: fade-in 2s ease-in forwards;
}
.landing-text h1 {
  font-size: 20rem;
  letter-spacing: 5px;
  transform: translateY(-30px);
  text-wrap: nowrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  animation: fade-in 2s ease-in forwards;
}
@keyframes fade-in {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.mid-landing img {
  position: absolute;
  right: 30%;
  top: 600px;
  animation: move-in 2s ease-in forwards;
}

@keyframes move-in {
  0% {
    top: 600px;
  }
  100% {
    top: 0;
  }
}
.mid-top {
  margin: 4rem 5rem;
  display: flex;
  justify-content: space-between;
}
.left-mid h2 {
  font-family: gilroy;
  font-weight: 400;
  font-size: 19px;
  margin-left: 5px;
}
.left-mid h1 {
  font-size: 6rem;
  text-wrap: nowrap;
  font-family: cursive;
  font-weight: normal;
  word-spacing: 25px;
  margin-top: -10px;
  /* transform: translateY(-1rem); */
}
.left-mid h1:last-child {
  /* color: red; */
  margin-top: -1.7rem;
}
.right-mid {
  width: 260px;
  margin-top: 2rem;
  word-spacing: 4px;
  margin-right: 5rem;
  text-shadow: rgba(252, 252, 252, 0.9) 0px 0px 0px;
  font-weight: 600;
}
.DestinationCard {
  margin-left: 5rem;
}
.carousel {
  display: flex;
  column-gap: 1rem;
  overflow: hidden;
  margin-left: 4rem;
  margin-bottom: 4rem;
}
.slider-card {
  transition: all 0.4s ease-in;
  position: relative;
  width: 355px;
  height: 555px;
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.slider-card::after {
  content: "";
  background: linear-gradient(to bottom, #161b2300, #161b23);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
}
.card-title {
  margin-bottom: 1rem;
}

.slider-card .card-info {
  /* transform: translateY(-220px); */
  margin-left: 5px;
}

.card-info p {
  margin-top: 3px;
  width: 355px;
}
.book-now {
  background: transparent;
  outline: none;
  border: none;
  margin-top: -1rem;
  cursor: pointer;
  z-index: 999;
}
.book-now:hover,
.book-now:focus {
  transform: scale(0.93);
}
.book-now img {
  width: fit-content;
  height: auto;
}
.card-info .card-location {
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffbe40;
}
.card-info .card-location svg {
  width: 10px;
  fill: #ffbe40;
  margin-right: 5px;
}

.controls-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  justify-content: space-between;
  margin-right: 9rem;
}
.filter-btn button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 2rem;
}
.controls-btn .active-btn {
  background-image: url("Rounded All.png");
  background-size: cover;
  background-position: center;
}
.swipe-btn button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
.swipe-btn button:active {
  transform: scale(0.9);
}

.swipe-btn .pervious-arrow {
  width: 60px;
  margin-right: 9px;
}
.swipe-btn .next-arrow {
  width: 80px;
}

.ShouldVisit {
  height: 100vh;
  width: 94%;
  background-image: url("/should_visit_BG.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
}
.visit-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 2rem;
  margin-top: 5rem;
}

.ShouldVisit h1 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.4rem;
  width: 500px;
  text-align: right;
  line-height: 50px;
}
.ShouldVisit .because {
  color: #ffbe40;
  margin: 2rem 8.5rem 1rem 0;
  position: relative;
}
.ShouldVisit .because::after {
  content: " ";
  width: 130px;
  height: 3px;
  background-color: #ffbe40;
  position: absolute;
  top: 8px;
  left: 59px;
}
.ShouldVisit .description {
  width: 500px;
  font-size: 15px;
  text-align: right;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ShouldVisit .book-now-2 {
  background: transparent;
  border: none;
  margin-top: 2rem;
}
.ShouldVisit .book-now-2 img {
  width: 350px;
  height: auto;
  transition: transform 0.1s ease-in;
}
.ShouldVisit .book-now-2 img:hover {
  transform: scale(0.96);
}
.Video-Section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  /* height: 100vh; */
}
.Video-Section .video-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Video-Section .video-desc h1 {
  text-align: center;
  font-size: 4rem;
}
.Video-Section .video-desc p {
  text-align: center;
  width: 800px;
  font-size: 1.3rem;
  margin-top: 1rem;
}
.Video-Section .video-part {
  margin: 2rem 3rem 0 3rem;
  display: flex;
  column-gap: 4rem;
}
.playing-vid {
  width: 750px;
}
.playing-vid video {
  border-radius: 36px;
}
.playing-vid h1 {
  font-size: 20px;
  margin: 1rem 0;
}
.playing-vid .location {
  color: #ffbe40;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.playing-vid .location svg {
  width: 10px;
  fill: #ffbe40;
  margin-right: 5px;
}
.list-vid .list-inner {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  column-gap: 1rem;
  margin-top: 10px;
}
.list-vid img {
  width: 200px;
  /* aspect-ratio: 3/4; */
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.list-vid img:hover {
  transform: scale(1.06);
}
.bottom-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem 9rem 5rem;
}

.search-section h1 {
  font-size: 3rem;
  width: 600px;
  word-spacing: 6px;
  line-height: 50px;
}
.search-section .search {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-top: 3rem;
}

.search-section .search .search-input {
  display: flex;
  background-color: white;
  border-radius: 9px;
  padding: 4px 0.5rem;
}
.search-section .search .search-input svg {
  width: 25px;
  fill: #757575;
}
.search-section .search input {
  width: 370px;
  padding: 14px;
  border: none;
  outline: none;
  font-size: 1rem;
}
.search-section .search input::placeholder {
  font-size: 18px;
}
.search-section .filter {
  background-color: #ffbe40;
  padding: 9px 15px;
  border-radius: 9px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.search-section .filter:hover {
  transform: scale(0.9);
}
.search-section .filter svg {
  width: 35px;
  transform: rotate(90deg);
}
.airplane-img img {
  width: 700px;
  height: auto;
}
.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem 0 1rem;
  padding-bottom: 5rem;
  background-color: #2b2a33;
  border-radius: 100px 0 0 0;
}
.contact-section .tittle {
  color: #64c6e5;
  margin-bottom: 1rem;
}
.contact-section .logo-social {
  margin-right: 5rem;
  margin-left: 5rem;
}
.contact-section .logo {
  display: flex;
  align-items: center;
}

.contact-section .logo h1 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: -2px;
}
.contact-section .logo img {
  width: 100px;
}

.contact-section .logo-social p {
  width: 230px;
  margin-top: 1rem;
}

.logo-social .social a svg {
  width: 20px;
  height: auto;
  margin-top: 1rem;
  margin-right: 20px;
}
.logo-social .social .facebook svg {
  width: 15px;
}
.information li,
.helpful-links li {
  margin-bottom: 4px;
}

.contact ul {
  margin-bottom: 1.4rem;
}

.contact ul li {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 5px;
}
.contact ul svg {
  margin-top: 2px;
}
.payment-logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px 1.2rem;
}
.payment-logo img {
  width: 60px;
}
